.navbar {
  pointer-events: none;
  margin-bottom: 1rem;

  :global(.nav-item) {
    pointer-events: auto;
  }
}

.profileDropdown {
  box-shadow: 0px 0px 10px #ffffff;
  background-color: rgba(255, 255, 255, 0.4);

  :global(.nav-link) {
    color: #212529 !important;
  }
}

.profileImg {
  height: 40px;
  margin-right: 10px;
}
