.navbar {
  background-color: #ffffff;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-bottom: 1rem;
}

.profileDropdown :global(.nav-link) {
  color: #212529 !important;
}

.profileImg {
  height: 40px;
  margin-right: 10px;
}
