.back {
  pointer-events: auto;
  font-size: 2rem;
  margin: 0 1rem;
  color: #343a40;
  box-shadow: 0px 0px 10px #ffffff;
  background-color: rgba(255, 255, 255, 0.4);

  &:hover {
    color: #121416;
  }
}

.saving {
  color: #ced4da;
  text-align: center;
  flex-grow: 1;

  :global(.svg-inline--fa) {
    margin-left: 0.5rem;
  }
}

.loading {
  display: flex;
  height: calc(100vh - 74px - 4rem);
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.taskCheckbox {
  min-height: 2rem;
  padding-left: 2.5rem;
  padding-right: 1rem;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

  :global(.text-muted) {
    text-decoration: line-through;
  }

  :global(.custom-control-input) {
    ~ :global(.custom-control-label)::before, ~ :global(.custom-control-label)::after {
      cursor: pointer;
    }

    &:checked ~ :global(.custom-control-label)::before {
      background-color: #6c757d;
      border-color: #6c757d;
    }

    &:focus ~ :global(.custom-control-label)::before {
      box-shadow: 0 0 0 0.2rem #ced4da;
    }

    &:not(:disabled):active ~ :global(.custom-control-label)::before {
      color: #fff;
      background-color: #ced4da;
      border-color: #ced4da;
    }

    &:focus:not(:checked) ~ :global(.custom-control-label)::before {
      border-color: #adb5bd;
    }
  }

  :global(.custom-control-label) {
    &::before, &::after {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.taskDueDate {
  display: flex;
  flex-grow: 1;
  padding: 0 1rem;

  &:global(.text-muted) :global(.DayPickerInput) input {
    color: #6c757d;
    text-decoration: line-through;
  }

  :global(.svg-inline--fa) {
    align-self: center;
  }
  
  :global(.DayPickerInput) {
    flex-grow: 1;

    input {
      cursor: pointer;
      border: none;
      outline: none;
      width: 100%;
    }

    :global(.DayPickerInput-OverlayWrapper) {
      margin-left: -30px;

      :global(.DayPicker-Footer) {
        text-align: center;
      }
    }
  }
}

.taskTitle, .taskDescription {
  font-weight: 300;

  &:empty::before {
    content: attr(placeholder);
    color: #adb5bd;
    cursor: text;
  }

  &:global(.text-muted) {
    text-decoration: line-through;
  }

  &:focus {
    outline: 0px solid transparent;
  }
}

.taskDescription {
  font-size: 1.25rem;
}

.taskTag {
  margin-right: 0.25rem;

  &::before {
    content: '#';
  }

  &:global(.badge-secondary) {
    text-decoration: line-through;
  }

  & span:focus {
    outline: 0px solid transparent;
  }
}

.removeTag {
  margin-left: 0.5rem;
  cursor: pointer;
}
