.back {
  font-size: 2rem;
  margin: 0 1rem;
  color: #343a40;

  &:hover {
    color: #121416;
  }
}

.saving {
  color: #ced4da;
  text-align: center;
  flex-grow: 1;

  :global(.svg-inline--fa) {
    margin-left: 0.5rem;
  }
}

.loading {
  display: flex;
  height: calc(100vh - 74px - 4rem);
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #6c757d;
}

.taskCheckbox {
  min-height: 2rem;
  padding-left: 2.5rem;
  padding-right: 1rem;
  border-right: 1px solid rgba(0, 0, 0, 0.1);

  :global(.custom-control-label)::after {
    cursor: pointer;
  }

  :global(.custom-control-input) {
    &:checked ~ :global(.custom-control-label)::before {
      background-color: #6c757d;
      border-color: #6c757d;
    }

    &:focus ~ :global(.custom-control-label)::before {
      box-shadow: none;
    }

    &:not(:disabled):active ~ :global(.custom-control-label)::before {
      color: #fff;
      background-color: #ced4da;
      border-color: #ced4da;
    }

    &:focus:not(:checked) ~ :global(.custom-control-label)::before {
      border-color: #adb5bd;
    }
  }

  :global(.custom-control-label) {
    &::before, &::after {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.taskDueDate {
  display: flex;
  flex-grow: 1;
  padding: 0 1rem;
  align-items: center;

  &:global(.text-muted) {
    text-decoration: line-through;
  }

  :global(.svg-inline--fa) {
    align-self: center;
  }
  
  :global(.DayPickerInput) {
    position: absolute;
    width: calc(100% - 10rem);

    input {
      background-color: transparent;
      color: transparent;
      border: none;
      outline: none;
      height: 2rem;
      width: 100%;
      cursor: pointer;
      font-size: 0;
      line-height: 0;
    }

    :global(.DayPicker-Footer) {
      text-align: center;
    }
  }
}

.taskTitle, .taskDescription {
  width: 100%;
  font-weight: 300;
  border: none;
  outline: none;
  resize: none;

  &:global(.text-muted) {
    text-decoration: line-through;
  }
}

.taskTitle {
  font-size: 2.5rem;
  line-height: 1.2;
}

.taskDescription {
  font-size: 1.25rem;
}

.taskTag {
  margin-right: 0.25rem;
  padding: 0 0.4em;

  &::before {
    content: '#';
  }

  &:global(.badge-secondary) {
    input {
      text-decoration: line-through;
    }
  }

  input {
    font-weight: 700;
    color: #ffffff;
    background-color: transparent;
    border: none;
    outline: none;
  }
}

.removeTag {
  margin-left: 0.25rem;
  cursor: pointer;
}
