.search {
  border-radius: 1.2rem;
  width: 2.4rem;
  padding-left: 1.12rem;
  padding-right: 1.12rem;
  transition: width 0.2s ease-in-out;
  text-overflow: ellipsis;

  &:hover, &:focus, &:active, &:not(:placeholder-shown) {
    width: 20rem;
    padding-right: 2rem;
  }

  &::placeholder {
    color: #adb5bd;
  }
}

.searchIcon {
  position: relative;
  margin-left: -1.7rem;
  margin-right: 1.7rem;
  color: #6c757d;
  pointer-events: none;
}

.searchClearIcon {
  pointer-events: auto;
  cursor: pointer;
}

.newTask {
  font-weight: 300;
  font-size: 2.5rem;
  padding: 0 0.5rem 1.5rem;
  border: none;
  outline: none;
  width: 100%;
  text-overflow: ellipsis;

  &::placeholder {
    color: #adb5bd;
  }
}

.tasks :global(.list-group-item) {
  border: none;
  padding: 0;

  &:last-child .taskContainer {
    border-bottom: none;
  }

  :global(.text-muted) {
    text-decoration: line-through;
  }
}

.taskCheckbox {
  margin-right: 1rem;

  :global(.custom-control-input) {
    &:checked ~ :global(.custom-control-label)::before {
      background-color: #6c757d;
      border-color: #6c757d;
    }

    &:focus ~ :global(.custom-control-label)::before {
      box-shadow: none;
    }

    &:not(:disabled):active ~ :global(.custom-control-label)::before {
      color: #ffffff;
      background-color: #ced4da;
      border-color: #ced4da;
    }

    &:focus:not(:checked) ~ :global(.custom-control-label):global(.priority-1)::before {
      border-color: #dc3545;
    }

    &:focus:not(:checked) ~ :global(.custom-control-label):global(.priority-2)::before {
      border-color: #ffc107;
    }

    &:focus:not(:checked) ~ :global(.custom-control-label)::before {
      border-color: #adb5bd;
    }
  }

  :global(.custom-control-label) {
    &::before, &::after {
      width: 1.2rem;
      height: 1.2rem;
      top: 0.2rem;
      left: -1.35rem;
    }

    &::before {
      background-color: transparent;
    }

    &::after {
      cursor: pointer;
    }

    &:global(.priority-1)::before {
      border-color: #dc3545;
    }

    &:global(.priority-2)::before {
      border-color: #ffc107;
    }
  }
}

.taskContainer {
  display: flex;
  min-height: 3rem;
  flex-grow: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  padding: 0.75rem 0;
  color: #212529;
  text-decoration: none;
  background-color: transparent;

  &:hover {
    color: #212529;
    text-decoration: none;
  }
}

.taskTitle {
  margin: auto 2rem auto 0;
}

.taskTags {
  text-align: right;
  max-width: 20rem;
  margin-left: auto;

  :global(.badge-secondary) {
    text-decoration: line-through;
  }

  :global(.badge-dark) {
    &:hover, &:focus {
      background-color: #1d2124;
    }

    &:focus {
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
    }
  }
}
